<%- include('./partials/html-head.ejs') %>
  <title>Cars</title>
  </head>

  <body>
    <img class="tire-img" src="https://imgur.com/iEh81Nr.png" alt="colored wheel tire">

    <h1>The Car Lot</h1>

    <p id="index-p">At The Car Lot,you can see the details of the different types of cars avaiable around the world!</p>

    <a id="garage-link" href="/cars">Check out the Garage</a>

  </body>

  <div id="footer">

    <footer><small>Icons by <a href="https://www.flaticon.com/authors/freepik">Freekpik</a></small></footer>

  </div>

  </html>