<%- include('./partials/html-head.ejs') %>
  <title>Submit a New Car</title>
</head>

<body class="new-car">
  <h1>Add a New Car!</h1>
  <form action="/cars" method="POST">
    <fieldset id="new-car-form" aria-labelledby="car-legend">
      <legend id="car-legend"><span>Car Information</span></legend>
      <div>
        <label for="car-year">Car Year:</label>
        <input type="number" id="car-year" name="year" min="1900" max="2024" required />
      </div>

      <div>
        <label for="car-make">Choose a Car Brand</label>
        <input list="brands" id="car-make" name="make" required>
        <datalist id="brands" required>
          <option value="Toyota"></option>
          <option value="Mercedes"></option>
          <option value="Nissan"></option>
          <option value="Honda"></option>
          <option value="BMW"></option>
          <option value="Jeep"></option>
          <option value="Dodge"></option>
          <option value="Ford"></option>
          <option value="Tesla"></option>
          <option value="Rivian"></option>
          <option value="Hyundai"></option>
          <option value="Kia"></option>
          <option value="Subaru"></option>
          <option value="Cadillac"></option>
          <option value="Volkswagon"></option>
          <option value="Cheverlot"></option>
        </datalist>
      </div>

      <div>
        <label for="car-model">Model</label>
        <input type="text" id="car-model" name="model" maxlength="25" required>
      </div>

      <div>
        <label for="car-color">Color</label>
        <select id="car-color" name="color" required>
          <option value="Red">Red</option>
          <option value="Orange">Orange</option>
          <option value="Yellow">Yellow</option>
          <option value="Green">Green</option>
          <option value="Blue">Blue</option>
          <option value="Purple">Purple</option>
          <option value="Brown">Brown</option>
          <option value="Black">Black</option>
          <option value="Gray">Gray</option>
          <option value="White">White</option>
        </select>
      </div>

      <div>
        <label for="isAbleToStart">Can This Car Start?</label>
        <input type="checkbox" id="isAbleToStart" name="isAbleToStart">
      </div>

      <div id="submit-button"><button type="submit">Submit Car</button></div>
    </fieldset>
  </form>
</body>

</html>