@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body {
  box-sizing: border-box;
  font-family: "Play", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  background-image: url("https://imgur.com/VMcRcFA.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-color: rgb(245, 245, 245);
  text-wrap: wrap;

}

img {
  width: 80px;
}

button {
  font-weight: bold;
  border: 1px solid black;
  padding: 10px;
  font-size: 17px;
  font-family: 'Play', sans-serif;
  border-radius: 12px;
  background-color: rgb(245, 245, 245);
  transition: background-color 0.12s;
  transition: color 0.12s;
}

button:hover {
  background-color: black;
  color: rgb(245, 245, 245)
}

button:active {
  opacity: 0.4;
}

form {
  background-color: rgb(70, 159, 165);
  color: white;
  font-weight: bold;
  border-radius: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
}

label {
  margin-right: 5px;
  margin-bottom: 5px;
}

input {
  margin-bottom: 5px;
}

#index-p {
background-color: rgb(245, 245, 245);
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 800px;
}

.car-list {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: url('https://imgur.com/QjOFAA2.png');
  background-position: top left;
}

.new-car {
  background-image: url('https://imgur.com/AoyimKE.png');
  background-position: top left;
}

#submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.show-page {
  background-image: none;
}

.edit-car-div {
  margin: 25px;
}

.show-car-details {
  font-weight: bold;
}

.car-details {
  background-color:rgb(123, 124, 124);
  border-radius: 20px;
  margin: 50px;
  padding: 20px;
  color: white;
}